.data-sources
  width: 200px
  height: 100%
  font-size: 1.2rem

  fieldset
    border: 0

  label
    position: relative

    span
      margin-left: 20px

  input
    position: absolute
    top: 2px
