.article-preview
  padding: 16px
  margin: 16px
  box-shadow: 1px 1px 4px #111111
  border-radius: 8px
  display: flex
  background: #F5F5F6

  &:first-child
    margin-top: 0

// TODO fix image ration on small screens
.article-preview__img
  width: 200px
  height: auto
  margin-right: 16px

  @media all and (max-width: 480px)
    width: 100px

.article-preview__img--none
  min-width: 200px
  max-width: 200px
  display: flex
  justify-content: center
  align-items: center
  margin-right: 16px
  font-style: italic
  color: #333333
  font-size: 1rem

  @media all and (max-width: 480px)
    min-width: 100px
    max-width: 100px

.article-preview__content
  display: flex
  flex-direction: column
  width: 100%

.article-preview__h2
  font-size: 1.5rem
  margin: 0

  @media all and (max-width: 480px)
    font-size: 1rem
    margin-bottom: 4px

.article-preview__header
  display: flex
  justify-content: space-between
  margin-bottom: 32px
  width: 100%

  @media all and (max-width: 900px)
    flex-direction: column

.article-preview__preamble
  font-size: 1rem

  @media all and (max-width: 900px)
    display: none


.article-preview__date
  width: 200px
  justify-self: flex-end
  text-align: right
  font-size: 0.8rem

  @media all and (max-width: 900px)
    text-align: left
